@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_layoutCursos";
    ViewData["Title"] = "Crear Cursos";
    ViewData["Style"] = "~/css/CrearCrusos.css";
    ViewData["Script"] = "";
    var dificultades = new[] { "Principiante", "Intermedio", "Avanzado" };
    var departamentos = new[] { "C.D.S", "Calidad", "Contabilidad", "Desarrollo y Analisis", "Gerencia", "Importacion y Exportaciones", "Mantenimiento", "Mejora Continua", "Produccion", "Programacion", "Recursos Humanos" };
    var roles = new[] { "ADMIN", "PRO", "ADM", "BOD", "PROG", "MAN", "SUP", "RH", "QUA", "PAR" };
    var zonas = new[] { "GH", "TSI", "TANDEM" };
}

<div id="CrearCurso" class="container-xl">
    <header>
        <h1>Configuración del Curso</h1>
    </header>

    @model CrearCursoConfigModel
    <form asp-action="Create" method="post" enctype="multipart/form-data">

        <div class="row">
            <div class="form-group col-sm-9 col-12 mb-2">
                <label asp-for="Nombre">Nombre del Curso *</label>
                <input asp-for="Nombre" class="form-control" />
            </div>

            <div class="form-group col mb-2">
                <label asp-for="Codigo">Código del Curso *</label>
                <input asp-for="Codigo" class="form-control" />
            </div>
        </div>

        <div class="form-group mb-2">
            <label asp-for="DescripcionCorta">Descripción corta *</label>
            <input asp-for="DescripcionCorta" class="form-control" />
        </div>

        <div class="form-group mb-2">
            <label asp-for="DescripcionLarga">Descripción larga (opcional)</label>
            <textarea asp-for="DescripcionLarga" class="form-control"></textarea>
        </div>

        <div class="form-group mb-2">
            <label asp-for="Foto">Foto del curso (Opcional)</label>
            <input asp-for="Foto" type="file" accept="image/*" class="form-control" />
        </div>

        <div class="form-group mb-2">
            <label asp-for="DuracionHoras">Duración (en horas) *</label>
            <input asp-for="DuracionHoras" type="number" class="form-control" min="1" max="300" />
        </div>

        <div class="form-group mb-2">
            <label asp-for="Dificultad">Dificultad *</label>
            <select asp-for="Dificultad" class="form-control">
                <option disabled selected>Seleccione dificultad</option>
                @foreach (var d in dificultades)
                {
                    <option value="@d">@d</option>
                }
            </select>
        </div>

        <div class="row row-cols-3">

            <div class="form-group col-md-5 col-8 mb-2">
                <label>Asignar por departamento:</label>
                @foreach (var dept in departamentos)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Departamentos" value="@dept" id="@dept" />
                        <label class="form-check-label" for="@dept">@dept</label>
                    </div>
                }
            </div>

            <div class="form-group col-4 mb-2">
                <label>Asignar por rol:</label>
                @foreach (var rol in roles)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Roles" value="@rol" id="@rol" />
                        <label class="form-check-label" for="@rol">@rol</label>
                    </div>
                }
            </div>

            <div class="form-group col-12 col-md-3 mb-2">
                <label>Asignar por zona:</label>
                @foreach (var zona in zonas)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Zonas" value="@zona" id="@zona" />
                        <label class="form-check-label" for="@zona">@zona</label>
                    </div>
                }
            </div>
        </div>

        <footer class="footer">
            <div class="botonDiv">
                <button class="btnDesactivado" type="button">Anterior</button>
                <button class="btnPage" type="submit">Siguiente</button>
            </div>
            <div class="LinkDiv">
                <a class="Select" asp-action="Create" asp-controller="CursosAdmin">Curso</a> -
                <a asp-action="CreateMaterial" asp-controller="CursosAdmin">Material</a> -
                <a asp-action="CreateTest" asp-controller="CursosAdmin">Examen</a>
            </div>
        </footer>
    </form>
</div>
