<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechShop Academy</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TechShop.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="@(ViewData["Style"])" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="~/css/Spinner.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body class="d-flex flex-column min-vh-100">
    @await Html.PartialAsync("_Spinner")
    <header style="margin: 0; padding: 0;">
        @using Microsoft.AspNetCore.Authentication
        @using Microsoft.AspNetCore.Authorization

        <nav class="navbar">
            <div class="navbarUtils">
                <div class="navbarSession">
                    <a class="nav-link atras" asp-controller="Home" asp-action="Index">
                        <i class="fi fi-rr-arrow-circle-left"></i><p style="padding: 0; margin: 0; font-size: 1.1rem;">Atrás</p>
                    </a>
                </div>
                <div class="navbarInfo">
                    <a class="NavbarImg" asp-controller="Home" asp-action="Index">
                        <img src="~/img/TechShop Academy blanco sin fondo.png" alt="TechShop Academy" />
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-grow-1">
        @RenderBody()
    </main>

    @await Html.PartialAsync("_Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.all.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @if (ViewBag.NotificationMessage != null)
    {
        <script>
            @Html.Raw(@ViewBag.NotificationMessage);
        </script>
    }
    @* @await Html.PartialAsync("_Footer") *@
</body>
</html>
